extends ./_template.pug

block header
  .container
    h1 Static site with gulp build system

block main
  .container
    img(src='/static/image/gulp-logo.png', art='gulp-logo')
    p 헬로우 걸프

block footer
  .container
    p Footer

block javascript